/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Open Sans", sans-serif;
    font-size: 100%;
}

nav,
ul {
    list-style: none;
}
a {
    cursor: pointer;
    text-decoration: none;

    opacity: .9;
}
a:hover {
    opacity: 1;
}

/* Header */
header {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    width: 100%;
    padding: 20px 50px;

    background-color: #fff;

    align-items: center;
    justify-content: space-between;
}
header img {
    width: 200px;
}
header nav {
    display: flex;
}
header li {
    margin: 0 15px;
}
header li a {
    color: #191c03;
}
header li:first-child {
    margin-left: 0;
}
header li:last-child {
    margin-right: 0;
}
@media (max-width: 700px) {
    header {
        flex-direction: column;
    }
    header img {
        margin-bottom: 15px;
    }
}
/* Hero */
.hero {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    text-align: center;

    color: #fff;
    background-image: url("../img/hero.jpg");
    background-size: cover;

    align-items: center;
    justify-content: center;
}
.hero h1 {
    margin-bottom: 15px;

    font-size: 3.2rem;
}
.hero h3 {
    margin-bottom: 15px;

    font-size: 2rem;
}
.hero .btn {
    padding: 20px 50px;

    text-transform: uppercase;

    color: #191c03;
    border-radius: 4px;
    background-color: #fff;
}
@media (max-width: 700px) {
    .hero h1 {
        font-size: 2.5rem;
    }
    .hero h3 {
        font-size: 1.5rem;
    }
}

/* Conheça o hotel */
.conheca-o-hotel {
    display: flex;
    padding: 100px 50px;
    flex-direction: column;

    align-items: center;
}
.conheca-o-hotel h3 {
    margin-bottom: 35px;

    font-size: 2rem;

    text-align: center;

    color: #191c03;
}
.conheca-o-hotel p {
    max-width: 800px;
    margin-bottom: 35px;

    text-align: center;

    color: #191c03;
}
.conheca-o-hotel hr {
    width: 200px;
    height: 2px;
    margin-bottom: 70px;

    border: none;
    background-color: #191c03;
}
.conheca-o-hotel .grid {
    display: flex;
    width: 100%;

    flex-wrap: wrap;
}
.conheca-o-hotel .grid li {
    height: 350px;
    padding: 20px;

    border-radius: 4px;
    background-position: center;
    background-clip: content-box;
    background-size: cover;
}
.conheca-o-hotel .grid li.small {
    flex-basis: 40%;
}
.conheca-o-hotel .grid li.large {
    flex-basis: 60%;
}
@media (max-width: 700px) {
    .conheca-o-hotel .grid li.small,
    .conheca-o-hotel .grid li.large {
        flex-basis: 100%;
    }
}
